# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_MOCK_API_ENDPOINT="http://localhost:8080/api"

NEXT_APPWRITE_KEY=<YOUR_API_KEY>

NEXT_PUBLIC_APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT=<PROJECT_ID>

NEXT_PUBLIC_APPWRITE_DATABASE_ID=<DATABASE_ID>
NEXT_PUBLIC_APPWRITE_WORKSPACES_ID=<WORKSPACES_ID>
NEXT_PUBLIC_APPWRITE_IMAGES_BUCKET_ID=<IMAGES_BUCKET_ID>