@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --background-hovered: 220 12% 95%;
    --background-pressed: 218 13% 88%;
    --background-neutral: 218 76% 15%;
    --background-neutral-hovered: 218 76% 15%;
    --background-neutral-pressed: 218 76% 15%;

    --foreground: 218 54% 20%;
    --subtle-foreground: 218 24% 35%;
    --muted-foreground: 218 16% 45%;
    --inverse-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 218 54% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 54% 20%;

    --muted: 220 12% 95%;
    --muted-hovered: 218 13% 88%;
    --muted-pressed: 219 13% 74%;

    --primary: 215 90% 47%;
    --primary-hovered: 215 100% 40%;
    --primary-pressed: 215 85% 23%;
    --primary-subtle: 215 100% 96%;
    --primary-subtle-hovered: 216 100% 90%;
    --primary-subtle-pressed: 215 100% 76%;
    --primary-foreground: 0 0% 100%;

    --accent: 215 100% 96%;
    --accent-hovered: 216 100% 90%;
    --accent-pressed: 215 100% 76%;
    --accent-foreground: 215 90% 47%;

    --destructive: 4 64% 48%;
    --destructive-hovered: 4 66% 41%;
    --destructive-pressed: 4 56% 23%;
    --destructive-subtle: 3 100% 96%;
    --destructive-subtle-hovered: 4 100% 91%;
    --destructive-subtle-pressed: 4 96% 78%;
    --destructive-foreground: 0 0% 100%;

    --warning: 46 90% 62%;
    --warning-hovered: 47 97% 45%;
    --warning-pressed: 46 98% 41%;
    --warning-subtle: 48 100% 92%;
    --warning-subtle-hovered: 48 86% 80%;
    --warning-subtle-pressed: 46 90% 62%;
    --warning-foreground: 210 12% 13%;

    --success: 155 62% 32%;
    --success-hovered: 155 54% 28%;
    --success-pressed: 155 55% 19%;
    --success-subtle: 154 100% 93%;
    --success-subtle-hovered: 155 70% 84%;
    --success-subtle-pressed: 155 63% 69%;

    --border: 218 76% 15%;
    --input: 218 76% 15%;
    --ring: 215 100% 40%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 220 12% 95%;
    --sidebar-foreground: 218 54% 20%;
    --sidebar-primary: 215 90% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 100% 96%;
    --sidebar-accent-foreground: 215 90% 47%;
    --sidebar-border: 218 76% 15%;
    --sidebar-ring: 215 100% 40%;
  }
  .dark {
    --foreground: 211 21% 76%;
    --subtle-foreground: 211 18% 68%;
    --muted-foreground: 211 16% 61%;
    --inverse-foreground: 210 12% 13%;

    --background: 210 12% 13%;
    --background-hovered: 210 12% 15%;
    --background-pressed: 207 12% 18%;
    --background-neutral: 210 42% 74%;
    --background-neutral-hovered: 209 51% 77%;
    --background-neutral-pressed: 211 80% 86%;

    --card: 210 12% 13%;
    --card-foreground: 211 21% 76%;
    --popover: 210 12% 13%;
    --popover-foreground: 211 21% 76%;

    --muted: 210 14% 20%;
    --muted-hovered: 210 14% 25%;
    --muted-pressed: 210 13% 31%;

    --primary: 215 100% 67%;
    --primary-hovered: 215 100% 76%;
    --primary-pressed: 215 100% 90%;
    --primary-subtle: 216 40% 18%;
    --primary-subtle-hovered: 215 85% 23%;
    --primary-subtle-pressed: 215 100% 40%;
    --primary-foreground: 210 12% 13%;

    --accent: 216 40% 18%;
    --accent-hovered: 215 85% 23%;
    --accent-pressed: 215 100% 40%;
    --accent-foreground: 215 100% 67%;

    --destructive: 4 91% 69%;
    --destructive-hovered: 4 96% 78%;
    --destructive-pressed: 4 100% 91%;
    --destructive-subtle: 5 36% 19%;
    --destructive-subtle-hovered: 4 56% 23%;
    --destructive-subtle-pressed: 4 66% 41%;
    --destructive-foreground: 210 12% 13%;

    --warning-subtle: 48 31% 15%;
    --warning-subtle-hovered: 45 91% 17%;
    --warning-subtle-pressed: 45 98% 25%;

    --success: 155 57% 55%;
    --success-hovered: 155 63% 69%;
    --success-pressed: 155 70% 84%;
    --success-subtle: 154 29% 15%;
    --success-subtle-hovered: 155 55% 19%;
    --success-subtle-pressed: 155 54% 28%;

    --border: 209 51% 77%;
    --input: 209 51% 77%;
    --ring: 215 100% 76%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 210 12% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 215 100% 67%;
    --sidebar-primary-foreground: 210 12% 13%;
    --sidebar-accent: 216 40% 18%;
    --sidebar-accent-foreground: 215 100% 67%;
    --sidebar-border: 209 51% 77%;
    --sidebar-ring: 215 100% 76%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
