@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --background-hovered: 220 12% 95%;
    --background-pressed: 218 13% 88%;
    --background-neutral: 218 76% 15%;
    --background-neutral-hovered: 218 76% 15%;
    --background-neutral-pressed: 218 76% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 210 40% 96.1%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 222.2 47.4% 11.2%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 222.2 84% 4.9%;
  }
  .dark {
    --foreground: 211 21% 76%;
    --subtle-foreground: 211 18% 68%;
    --muted-foreground: 211 16% 61%;
    --inverse-foreground: 210 12% 13%;

    --background: 210 12% 13%;
    --background-hovered: 210 12% 15%;
    --background-pressed: 207 12% 18%;
    --background-neutral: 210 42% 74%;
    --background-neutral-hovered: 209 51% 77%;
    --background-neutral-pressed: 211 80% 86%;

    --card: 210 12% 13%;
    --card-foreground: 211 21% 76%;
    --popover: 210 12% 13%;
    --popover-foreground: 211 21% 76%;

    --muted: 210 14% 20%;
    --muted-hovered: 210 14% 25%;
    --muted-pressed: 210 13% 31%;

    --primary: 215 100% 67%;
    --primary-hovered: 215 100% 76%;
    --primary-pressed: 215 100% 90%;
    --primary-subtle: 216 40% 18%;
    --primary-subtle-hovered: 215 85% 23%;
    --primary-subtle-pressed: 215 100% 40%;
    --primary-foreground: 210 12% 13%;

    --accent: 216 40% 18%;
    --accent-hovered: 215 85% 23%;
    --accent-pressed: 215 100% 40%;
    --accent-foreground: 215 100% 67%;

    --destructive: 4 91% 69%;
    --destructive-hovered: 4 96% 78%;
    --destructive-pressed: 4 100% 91%;
    --destructive-subtle: 5 36% 19%;
    --destructive-subtle-hovered: 4 56% 23%;
    --destructive-subtle-pressed: 4 66% 41%;
    --destructive-foreground: 210 12% 13%;

    --warning-subtle: 48 31% 15%;
    --warning-subtle-hovered: 45 91% 17%;
    --warning-subtle-pressed: 45 98% 25%;
    --warning-foreground: 210 12% 13%;

    --success: 155 57% 55%;
    --success-hovered: 155 63% 69%;
    --success-pressed: 155 70% 84%;
    --success-subtle: 154 29% 15%;
    --success-subtle-hovered: 155 55% 19%;
    --success-subtle-pressed: 155 54% 28%;

    --border: 209 51% 77%;
    --input: 209 51% 77%;

    --ring: 215 100% 76%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 217.2 32.6% 17.5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 212.7 26.8% 83.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
