name: Playwright Tests
on:
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - closed

# Ensures only the latest commit runs, preventing race conditions in concurrent PR updates
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  SECRET: ${{ secrets.SECRET }}
  AUTH_GITHUB_ID: ${{ secrets.AUTH_GITHUB_ID }}
  AUTH_GITHUB_SECRET: ${{ secrets.AUTH_GITHUB_SECRET }}
  NEXT_PUBLIC_MOCK_API_ENDPOINT: ${{ secrets.NEXT_PUBLIC_MOCK_API_ENDPOINT }}

jobs:
  setup:
    name: Setup
    timeout-minutes: 1
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.branch_name.outputs.current_branch }}
    steps:
      - name: Get branch name
        id: branch_name
        uses: tj-actions/branch-names@v8

  create_neon_branch_and_run_tests:
    name: Create Neon Branch and Run Tests
    needs: setup
    permissions:
      contents: read
      pull-requests: write
    if: |
      github.event_name == 'pull_request' && (
      github.event.action == 'synchronize' || github.event.action == 'opened' || github.event.action == 'reopened')
    runs-on: ubuntu-latest
    steps:
      - name: Create Neon Branch
        id: create_neon_branch
        uses: neondatabase/create-branch-action@v6
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          branch_name: preview/pr-${{ github.event.number }}-${{ needs.setup.outputs.branch }}
          api_key: ${{ secrets.NEON_API_KEY }}
          role: neondb_owner

      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps chromium --only-shell

      - name: Generate drizzle migrations
        run: pnpm db:generate

      - name: Push drizzle migrations
        run: pnpm db:push
        env:
          DATABASE_URL: "${{ steps.create_neon_branch.outputs.db_url_pooled }}"

      - name: Build Next.js app
        run: pnpm build
        env:
          NODE_ENV: production
          DATABASE_URL: "${{ steps.create_neon_branch.outputs.db_url_pooled }}"
          NEXT_PUBLIC_APP_URL: http://localhost:3000

      - name: Run Playwright tests
        run: pnpm test:e2e --reporter=json
        env:
          DATABASE_URL: "${{ steps.create_neon_branch.outputs.db_url_pooled }}"
          NEXT_PUBLIC_APP_URL: http://localhost:3000

      - uses: daun/playwright-report-summary@v3
        if: always()
        with:
          report-file: results.json

      - name: Post Schema Diff Comment to PR
        uses: neondatabase/schema-diff-action@v1
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          compare_branch: preview/pr-${{ github.event.number }}-${{ needs.setup.outputs.branch }}
          api_key: ${{ secrets.NEON_API_KEY }}

  delete_neon_branch:
    name: Delete Neon Branch and Apply Migrations on Production branch
    needs: setup
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v3
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          branch: preview/pr-${{ github.event.number }}-${{ needs.setup.outputs.branch }}
          api_key: ${{ secrets.NEON_API_KEY }}

      - name: Checkout
        if: github.event.pull_request.merged == true
        uses: actions/checkout@v4

      - name: Apply migrations to production
        if: github.event.pull_request.merged == true
        run: |
          pnpm install
          pnpm db:generate
          pnpm db:migrate
        env:
          DATABASE_URL: "${{ secrets.DATABASE_URL }}"
